@import url("./pygments.css")
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap')

body
    font-family: 'Source Sans Pro', sans-serif
    margin: 0
    padding: 0
    a:hover, a:link, a:visited, a:active
        color: #3ab058

nav
    background-color: #282A36 !important
    border-bottom: 3px solid black
    padding-left: 10px
    .title
        color: white
    .subtitle
        color: #50fa7b
    .navbar-menu
        background-color: #282A36
    .navbar-brand
        padding-left: 10px
    .navbar-icon
        color: white
        padding: 5px

nav > .pagination
    text-align: center
    a.previous
        float: left
    a.next
        float: right

.articles
    padding-top: 50px
    margin: 50px
    font-size: 20px
    color: black
    padding-bottom: 50px

.article-block
    padding: 50px
    display: flex

.article-image
    width: auto
    height: auto
    padding-right: 20px

.article-text
    width: auto
    height: auto

.categories
    display: flex
    flex-flow: column wrap
    justify-content: space-evenly

.pagination
    background-color: #282A36 !important
    margin: 0
    padding: 0
    width: auto
    height: auto
    color: white

.pagination-next, .pagination-previous
    padding-left: .75em
    padding-right: .75em
    white-space: nowrap
    margin-right: .75em
    margin-left: .75em

@media screen and (max-width: 768px)
    .articles
        width: 100%
        margin: auto
    .article-page
        width: 90%
        margin: auto
    .categories
        width: 100%
        margin: auto
        text-align: center
