@import url('https://fonts.googleapis.com/css?family=Roboto')
@import url("./pygments.css")

body
    font-family: 'Roboto', sans-serif
    font-size: 15px
    margin: 0
    padding: 0
    box-sizing: content-box
    text-decoration: none
    a:hover, a:link, a:visited, a:active    
        color: #50fa7b

footer
    background-color: #282A36 !important
    padding: 20px
    margin-top: 20px
    color: #50fa7b
    .footer-icon
        color: white
        padding: 5px

nav
    background-color: #282A36 !important
    border-bottom: 3px solid black
    padding-left: 10px
    .title
        color: white
    .subtitle
        color: #50fa7b

nav > .pagination
    text-align: center
    a.previous
        float: left
    a.next
        float: right

li
    color: white

.container > .title > .tag
    a:hover, a:link, a:visited
        color: white

.navbar-title, .navbar-end
    padding: 10px

.articles > .hero
    background-color: #282A36

.articles
    padding: 20px
    margin: 0px
    font-size: 20px

.article-summary
    color: white


        